/*Обнуление*/
* {
  /* outline: 1px solid #000; */
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ------------------------------------------------------- */

body {
  font-family: 'Space Mono', monospace;
}

.container {
  max-width: 1402px;
  margin: 0 auto;
}

.header {
  background-color: #000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.header__logo{
  width: 50px;
  height: 50px;
}

.header__navigation {
  display: flex;
}

.header__nav {
  padding: 20px;
}

.header__link {
  color: #999999;
}

.header__btn {
  padding: 7px 14px;
  background: linear-gradient(to right, #23DBF9 0%, #FF64BD 100%);
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  transition: opacity 0.5s;
}

.header__btn__link {
  color: #e4e4e4;
}



#canvas {
  position: relative;
  z-index: 2000;
}


.intro__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  padding: 200px 0 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.intro__title {
  margin-bottom: 25px;
  font-size: 2.1rem;
}

.intro__subtitle {
  margin-bottom: 25px;
  font-size: 4.28rem;
}

.intro__btn {
  padding: 13px 30px;
  font-size: 1rem;
  background: linear-gradient(to right, #23dcf9ae 0%, #ff64bca5 100% );
  text-transform: uppercase;
  border-radius: 2px;
}